.color_fondo{
	background: #ccc;
}

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}

.modal-wide .modal-dialog {
  width: 65%; /* or whatever you wish */
}

/*para el icono de la regla de medicion de distancias*/
.icon {
  display: inline-block;
  width: 24px;
  height:25px;
  fill: currentColor;
}

#modal-body{
  display: block;
  overflow: auto;
  max-height: 400px;
}

 .table td {
  white-space:nowrap;
 }

 #modalAgregar{
   width: 50%;
   position: absolute;
   top: 20%;
   left: 58%;

 }

#div_legend{
  overflow: hidden;
  position: absolute;
  top: 120px;
  right: 10px;
  width: 300px;
  max-height: 500px;
  border: solid 1px;
  border-radius: 3px;
  border-color: #C0C0C0;
  box-shadow: 0px 0px 10px #999999;
}

#div_legend:hover { 
  overflow:auto; 
}


